[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=/usr/libexec/meego-panel-web
TryExec=/usr/libexec/meego-panel-web
Name=internet
Name[ar]=انترنت
Name[ast]=internet
Name[ca]=Internet
Name[ca@valencia]=Internet
Name[cs]=Internet
Name[de]=Internet
Name[en_GB]=internet
Name[eo]=interreto
Name[es]=internet
Name[eu]=internet
Name[fa]=اینترنت
Name[fi]=internet
Name[fr]=Internet
Name[gl]=Internet
Name[id]=internet
Name[it]=internet
Name[ja]=インターネット
Name[ko]=인터넷
Name[nl]=internet
Name[pa]=ਇੰਟਰਨੈੱਟ
Name[pl]=internet
Name[pt_BR]=internet
Name[ro]=internet
Name[ru]=интернет
Name[sk]=internet
Name[sv]=internet
Name[th]=อินเทอร์เน็ต
Name[tr]=internet
Name[uk]=інтернет
Name[wa]=daegntoele
Name[zh_CN]=互联网
Name[zh_TW]=網際網路
Icon=meego-web-browser
Comment=Internet panel
Comment[ar]=شريط الانترنت
Comment[ast]=Panel d'Internet
Comment[ca]=Tauler d'Internet
Comment[cs]=Panel Internet
Comment[de]=Panel Internet
Comment[en_GB]=Internet panel
Comment[es]=Panel de Internet
Comment[fa]=قاب اینترنت
Comment[fi]=Internet-ruutu
Comment[fr]=Panneau Internet
Comment[gl]=Panel Internet
Comment[id]=Panel Internet
Comment[it]=Pannello Internet
Comment[ja]=インターネット パネル
Comment[ko]=인터넷 패널
Comment[nl]=Internet
Comment[pa]=ਇੰਟਰਨੈੱਟ ਪੈਨਲ
Comment[pl]=Internet
Comment[pt_BR]=Painel Internet
Comment[ru]=Панель интернета
Comment[sk]=Panel Internet
Comment[sv]=Internetpanel
Comment[tr]=İnternet paneli
Comment[wa]=Sicriftôr del Daegntoele
Comment[zh_CN]=互联网面板
Comment[zh_TW]=網際網路面板
Terminal=false
Categories=
OnlyShowIn=MEEGO;
X-GNOME-Autostart-enable=true
X-Meego-Priority=Low
X-Meego-Service=com.meego.UX.Shell.Panels.internet
X-Meego-Panel-Button-Style=internet-button
